---
import Layout from '../layouts/BaseLayout.astro';
import Firefly from '../components/Firefly.astro';
--- 

<Layout title="Night with Fireflies">
    <Firefly slot="fireflies"></Firefly>
    <!-- <main>
        <h1>Hello R00t</h1>
        <p>This is new!!!</p>
    </main> -->
</Layout>

<style>
    h1{
        font-size: xx-large;
        margin-bottom: 2rem;
        color: aquamarine;
    }
    p{
        font-size: small;
        margin-bottom: 2 rem;
    }
</style>