---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/StaticDex/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: url('/bg.jpg');
            background-size: cover;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: multiply;
        }
        .firefly-container{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 10;
        }
        main {
            position: relative;
            z-index: 5;
        }
    </style>
</head>
<body>
    <div class="firefly-container">
        <slot name="fireflies"/>
    </div>
    <slot/>
</body>
</html>